services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      VITE_GOOGLE_MAPS_API_KEY: ${VITE_GOOGLE_MAPS_API_KEY}
    ports:
      - "8080:80"
    restart: unless-stopped
